@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("fonts/LibertinusSerif-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("fonts/LibertinusSerif-italic.woff2") format("woff2");
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("fonts/LibertinusSerif-bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("fonts/LibertinusSerif-bolditalic.woff2") format("woff2");
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/LibertinusSerif-semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/LibertinusSerif-semibolditalic.woff2") format("woff2");
}
